@font-face {
  font-family: Mieghommel;
  src: url(/Mieghommel.ttf);
}

@font-face {
  font-family: PantryLabel;
  src: url(/PantryLabel.otf);
}

@font-face {
  font-family: WollstonecraftRomance;
  src: url(/WollstonecraftRomance-Regular.ttf);
}
